.bgwhite {
  background-color: #212121;
    background-image: radial-gradient(circle at 50% -80%, #5656d58e 10%, #5656d58e 27%, #212121 50%, #212121 100%);
    background-size: cover;
}


.textBg {
  background: linear-gradient(to bottom right, #B8B8DC, #5756d5 , #5756d5);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.btn {
  padding: 0.7em 1.5em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #5756d5;
  transition: all 700ms;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #5756d5;
  background-color: transparent;
  
}

.btn:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #5756d5;
  box-shadow: 4px 5px 17px -4px #5756d5;
}

.btn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #5756d5;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 700ms;
}

.btn:hover::before {
  width: 250%;
}
