


body{
  /* overflow-y: hidden; */
    /* background-color: #212121 !important; */
}
.textBg {
  background: linear-gradient(to bottom right, #B8B8DC, #5756d5 , #5756d5);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.InputContainer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right,#B8B8DC, #5756d5);
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 735px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: #5756d5;
  background-color: #212121;
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: white;
}


.input::placeholder{
      font-size: 17px;
}

 .scrollbar {
  scrollbar-width: none;
  overflow-y: scroll;
}