.titleBg{
      background: linear-gradient(to bottom right, #B8B8DC , #5756d5);
      -webkit-background-clip: text;
              background-clip: text;
      color: transparent;
}
.input {
  background-color: transparent;
  border: #ccc 1px solid;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}
.input::placeholder{
      font-size: 17px;
}
.input:focus {
  animation: rotateShadow 2s infinite linear;
}

@keyframes rotateShadow {
  0% {
    box-shadow: -2px -2px 8px 1px #B8B8DC, 2px 2px 8px 1px #5756d5;
  }
  25% {
    box-shadow: -2px 2px 8px 1px #B8B8DC, 2px -2px 8px 1px #5756d5;
  }
  50% {
    box-shadow: 2px 2px 8px 1px #B8B8DC, -2px -2px 8px 1px #5756d5;
  }
  75% {
    box-shadow: 2px -2px 8px 1px #B8B8DC, -2px 2px 8px 1px #5756d5;
  }
  100% {
    box-shadow: -2px -2px 8px 1px #B8B8DC, 2px 2px 8px 1px #5756d5;
  }
}
