::placeholder{
    font-size: 18px;
}
.gradientBg{
    background-image: linear-gradient(to bottom right , #9154927b , #212121, #212121 ,  #465fa346 );
   }


.hovering{
    background-color: #3636365e;
    transition: all ease 0.3s;
}
.hovering:hover{
    background-color: rgba(126, 126, 126, 0.241);
}