
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
*{
  font-family: "Sulphur Point", sans-serif;
}
body{
  overflow-x: hidden;
}
.textDark {
    color: #212121 !important;
  }
  
  .bgDark {
    background-color: #212121 !important;
  }
  .bgLightDark {
    background-color: #3636365e!important;
  }
  
  .textNude {
    color: #e3e1e2 !important;
  }
  
  .bgNude {
    background-color: #e3e1e2 !important;
  }
  
  .borderNude {
    border-color: #e3e1e2 !important;
  }
  .borderBlue {
    border: #5756d5 2px solid !important;
  }
  .borderBlueEnd {
    border-right: #5756d5 2px solid !important;
  }
  .textBlue {
    color: #5756d5 !important;
  }
  
  .bgBlue {
    background-color: #5756d5 !important;
  }

  .fwthin{
    font-weight: 100 !important;
  }
  ::placeholder{
    color: rgb(153, 153, 153) !important;
    /* font-size: 13px; */
    padding: 0px 0px 3px 10px !important;
  }
.pointer{
  cursor: pointer;
}
.index{
  z-index: 99999;
}
